{{!
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
}}
{{!
    @template mod_sortvoting/sort_form_view

    Template for showing list of options to sort.

    Example context (json):
    {
        "options": [
            {
                "id": "1",
                "defaultposition": "1",
                "text": "A"
            },
            {
                "id": "2",
                "defaultposition": "2",
                "text": "B"
            },
            {
                "id": "3",
                "defaultposition": "3",
                "text": "C"
            },
            {
                "id": "4",
                "defaultposition": "4",
                "text": "D"
            },
            {
                "id": "5",
                "defaultposition": "5",
                "text": "E"
            }
        ]
    }
}}
{{#options}}
    <li>
        <input type="number" name="option[{{id}}]" value="{{defaultposition}}" max="{{max}}" />{{text}}
    </li>
{{/options}}
