{{!
    This file is part of the mod_sortvoting plugin for Moodle - http://moodle.org/

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
}}
{{!
    @template mod_sortvoting/sort_voting_form

    Template for showing list of options to sort.

    Example context (json):
    {
        "sortvotingid": "1",
        "allowupdate": true,
        "max": 5,
        "options": [
            {
                "id": "1",
                "position": "1",
                "text": "A"
            },
            {
                "id": "2",
                "position": "2",
                "text": "B"
            },
            {
                "id": "3",
                "position": "3",
                "text": "C"
            },
            {
                "id": "4",
                "position": "4",
                "text": "D"
            },
            {
                "id": "5",
                "position": "5",
                "text": "E"
            }
        ]
    }
}}
<input type="hidden" name="sortvotingid" value="{{sortvotingid}}" />

{{! Make this list drag and drop sortable. }}
<ul id="sortvotinglist" class="fa-ul">
{{#options}}
    <li class="d-flex card p-3 mb-2 {{^allowupdate}}bg-gray-100{{/allowupdate}} {{#allowupdate}}optionitem draggable{{/allowupdate}}" {{#allowupdate}}data-drag-type="move" draggable="true"{{/allowupdate}}>
        <div>
            <input type="number" name="option[]" data-optionid="{{id}}" value="{{position}}" max="{{max}}" min="1" class="d-none" />
            <span class="float-right dragicon ml-auto">{{#pix}}i/dragdrop{{/pix}}</span>
            {{text}}
        </div>
    </li>
{{/options}}
</ul>
{{#allowupdate}}
<button class="btn btn-primary" data-action="savevote" title="{{#str}} save {{/str}}">{{#str}} save {{/str}}</button>
{{#js}}
    require(['mod_sortvoting/sortvoting'], function(sortvoting) {
        sortvoting.init();
    });
{{/js}}
{{/allowupdate}}